.btn:link,
.btn:visited {
    margin-top: 2.5rem;
    animation: moveBottonToTop 1s ease-out;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    padding: 2rem 4rem;
    border-radius: 15rem;
    justify-content: center;
    position: absolute;
    font-size: 1.5rem;
}

.btn-white {
    margin: .5rem;
    padding: 3.5rem 6.5rem;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 4rem #eee;
    border-radius: 2rem;
    display: block;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);

    &:hover {
        transform: translateY(-.2rem);
        box-shadow: 0 10px 20px rgba($color-black, .5);
        background-position: right center;
        /* change the direction of the change here */
        color: black;
        text-decoration: none;
    }

    &:active {
        box-shadow: 0 .7rem 4rem rgba($color-black, .5);
        transform: translateY(+.4rem);
    }

}


.button-order-container {
    display: flex;
    width: 100%;
    justify-content: center;

}

.btn-text {

    &:link,
    &:visited {
        color: $color-primary;
        text-decoration: none;
        border-bottom: solid 1px $color-primary;
        font-size: $default-font-size;
        transition: all .2s;
      display: inline-block;
    }

    &:hover {
        background-color: $color-primary;
        color:$color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.15);
       transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 5px 4px rgba($color-black,.15);
        transform: translateY(0);
    }
}